body {
    font-family: Arial, sans-serif;
    background-color: lightseagreen;
    text-align: center;
}

h1 {
    color: black;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: pink;
    margin: 10px auto;
    padding: 10px;
    width: 50%;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

form {
    margin-top: 20px;
}

input, button {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}